@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
/*
J'ai pas pu trouver la police exact utilisé dans l'example
de la video, donc j'ai opté pour Poppins
*/
:root {
  --lLean-: #0a0b20;
  --rLean-: #100611;
  --dorée-: #ddc08d;
}

html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  user-select: none;
}

/*
Pour eviter d'ecrire plusieurs fois les propriété flex
la class "allFlex" est donné a tous les elements flexable
*/

.allFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**/

main {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, var(--rLean-), var(--lLean-));
}

.container {
  border: 1px solid var(--dorée-);
  border-radius: 1em;
  width: 375px;
  overflow: hidden;
  flex-direction: column;
}

.logoContainer {
  height: 120px;
}

.containerAnimated {
  height: calc(200px + 300px);
  overflow: hidden;
}

/*
La cl ss "containerToUp" sera attribué a containerAnimated
une fois la video terminé et declenche l'animation
*/

.containerToUp {
  translate: 0 -13em;
  transition: 1s ;
}

.containerToUp .videoContainer {
  scale: 0;
  opacity: 0;
  transition: 1.5s;
}

.containerToUp .mapsDetails {
  height: 200px;
}

.containerToUp .calquer {
  display: none;
}

.containerToUp .promo {
  color: var(--dorée-);
}

/**/

.videoContainer {
  height: 200px;
}

.productInfos {
  flex-direction: row;
  gap: 1em;
  height: 250px;
}

.productInfos .promo {
  border: 2px solid var(--dorée-);
  border-radius: 0.4em;
  padding: 0 1em 0.5em ;
  position: relative;
  height: 80px;
  width: 180px;
  overflow: hidden;
}

.promo .calquer {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: darken;
}

.promo span {
  margin: 0;
  font-size: 4em;
  position: absolute;
  top: -0.2em;
}

.promo p {
  margin: 0;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
}

.mapsDetails {
  height: 340px;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/*
J'ai toujours opté pour FontAwesome
pour les icones, mais vu qu'on est en natif
j'ai opté pour un before
*/

.chevron::before {
	border-style: solid;
  border-color: var(--dorée-);
  border-radius: 3px;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	display: inline-block;
	height: 1.7em;
	left: 0.15em;
	position: relative;
	top: 1em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 1.7em;
  animation: chev-up 2.5s infinite;
}

@keyframes chev-up {
  20% {
    translate: 0 -0.3em;
  }

  30% {
    translate: 0;
  }

  40% {
    translate: 0 -0.3em;
  }

  50% {
    translate: 0;
  }
}

/*
chevronUp sera donné a l'element chevron une fois
la video terminé et decle,che l'animation de celui ci
*/

.chevronUp {
  transition: 1s;
  opacity: 0;
  scale: 0;
}

.before {
  opacity: 1;
}

.mapsContainer {
  overflow: hidden;
  height: 160px;
}

.mapsContainer iframe {
  border-radius: 50%;
  height: 140px;
  width: 140px;
}

.linkContainer {
  width: 100%;
  height: 90px;
  position: relative;
}

.linkContainer .content {
  height: 120%;
  width: 100%;
  border-radius: 60%;
  position: absolute;
  bottom: -60%;
  background: url('./assets/calquer.png');
}

.content a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  position: absolute;
  top: .3em;
  font-size: 1.5em;
  font-weight: bold;
  transition: 1s cubic-bezier(1, 0, 0, 1);
}

.content a.second {
 translate: 0 3em;
}

/*
la class 'linkTextChange' permettra d'animer 
le text de redirection une fois la video terminé
*/

.linkTextChange {
  overflow: hidden;
}

.linkTextChange a.first {
translate: 0 -3em;
}

.linkTextChange a.second {
  translate: 0;
}

/*
J'espere avoir été a la hauteur 🙂
*/